# Environment variables for the CesiZen backend application

# Server configuration
PORT=3001

# Database configuration
DB_HOST=localhost
DB_USER=votre_utilisateur
DB_PASSWORD=DB_PASSWORD
DB_NAME=cesizen

# JWT configuration

JWT_SECRET=SECRET_KEY_CHANGE_IN_PRODUCTION
JWT_EXPIRES_IN=24h
